.button{
  float: right;
  font-size: 20px;
  background-color: $themeColor;
  color: white;
  font-weight: bold;
}
.responseDiv{
  float: left;
  color: green;
  font-weight: bold;
  font-size: 22px;
}
.33percentWidth{
  width: 33.3%;
}
.text-align-center {
  text-align: center;
}
.errorStyle{
  color: $modalErrorColor
}
.width50{
  width: 100%;
  font-weight: 999;
}
.g-recaptcha{
  float:left;
}
