.button{
  float: right;
  font-size: 20px;
  background-color: $buttonColor;
  //color: $textColor;
  font-weight: bold;
}
.responseDiv{
  float: left;
  color: #009900;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 1px 1px black;
}
.text-align-center {
  text-align: center;
}
.errorStyle{
  color: #ff6666;
}
.g-recaptcha{
  float: left;
}
.fixedBottom {
  position: fixed;
  bottom: 0px;
}
.removeFixedPos{
  position: static;
}
