.boxTitle, .boxTitleCalendar,.boxTitleNoBottomBorder {
  background-color: $titleColor;
  color: $textColor;
  text-align: center;
  font-size: 25px;
  height: 40px;
  border: $borderStyle;
}
.boxTitleCalendar {
  font-size: 25px;
  padding-bottom: 5px !important;
}
.boxTitleNoBottomBorder{
  border-bottom: 0px;
}
#calendarCaption {
  padding: 0px 10% 0px 10%;
  font-size: 33px;
}
.currentWeek {
	/*border-top: 1px solid $currentWeekColor;
	border-bottom: 1px solid $currentWeekColor;*/
	position: relative;
}
.currentWeekFilter {
	background: $currentWeekColor;
	top: 0px;
	left: 0px;
	position: absolute;
	opacity: 0.1;
	height: 100%;
	width: 100%;
}
.dayDiv {
	color: black;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	height: 100%;
  width: 12%;
  box-shadow: inset 1px 0px 0px 0px #d9d9d9;
}
.monthDiv {
	background: $titleColor;
	color: $textColor;
  width: 16%;
  height: 100%;
}
/*calendar and payments subheadings*/
.calendarHeading, .paymentsHeading {
	background: $titleColor;
	color: $textColor;
	display: inline-block;
	text-align: center;
  height: 100%;
}
.paymentsHeading {
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}
.currentDay {
	box-shadow: 0px 0px 0px 4px green inset;
}
