.chartStyle, .chartStyleFullBorder {
	background: $insideBoxColor;
	text-align: center;
  //border: $borderStyle;
	//border-top: 0px;
	height: 250px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.chartStyleFullBorder {
  border: $borderStyle;
}
.chartStyleNoTopBorder{
  border: $borderStyle;
	border-top: 0px;
}
.chartStyleNoBorder{
  border:0px;
	height: 246px;
	width: 98%;
}
.noPremium {
	font-size: 18px;
	background: #e6ffcc;
	text-align: center;
	color: #cca300;
  border-bottom: $borderStyle
}
.noBottomBorder{
	border-bottom: 0px;
}

.noChartText {
	color: #ffbb99;
	font-weight: bold;
	font-size: 25px;
}
