.chartStyle {
	background: $insideBoxColor;
	/*height: 250px;
	width: 510px;*/
	text-align: center;
  border-bottom: $borderStyle
}
.noPremium {
	font-size: 18px;
	background: #e6ffcc;
	text-align: center;
	color: #cca300;
  border-bottom: $borderStyle
}
.noBottomBorder{
	border-bottom: 0px;
}
