.landingTextStyle{
  font-size: 40px;
  color: #33cc00;
  font-weight: bold;
}
.landingText{
  font-size: 26px;
}
.landingTextSmall{
  font-size: 18px;
}
.landingTextPayments{
  font-size: 18px;
}
.forgotPassword{
  font-size: 18px;
  padding-top: 5px;
  color: blue;
}
.sample {
position: absolute;
left:0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 44;
}
