.modal-body {
  color: black;
  text-align: left;
  font-size: 18px;
}
.modal-header {
  background: $modalInfoColor;
  color: black;
  text-align: center;
  font-weight: bold;
}
.modal-footer {
  background: $modalInfoColor;
}
.clickable {
  cursor: pointer;
  color: #3bb300;
  font-size: 35px;
}
.clickableNoColor {
  cursor: pointer;
  font-size: 35px;
}


.error-modal-color {
  font-size: 25px;
  background: $modalErrorColor;
  color: red;
  font-weight: 999;
}
.textIndent {
  text-indent: 10%;
  text-shadow: 0px !important;
}
.glyphicon-info-sign{
  margin-left: -3px;
}
.modalBackground {
  background: white;
}
.width50 {
  width: 100%;
  font-weight: bold;
}
.clickable2 {
  cursor: pointer;
}


  @media (max-width: 576px) {
    .g-recaptcha {
        margin-left: 1px;
        margin-bottom: -7px;
        transform:scale(0.88);
        transform-origin:0 0;
    }

      }
