.modal-body {
  color: black;
  text-align: left;
  font-size: 18px;
}
.modal-header {
  background: $modalInfoColor;
  color: black;
  text-align: center;
  font-weight: bold;
}
.modal-footer {
  background: $modalInfoColor;
}
.clickable {
  cursor: pointer;
}
.error-modal-color {
  font-size: 25px;
  background: $modalErrorColor;
  color: red;
  font-weight: 999;
}
.textIndent {
  text-indent: 10%;
}
