.marginTopOther {
  margin-top: 50px;
}
.border-bottom-other {
  border-bottom: $borderStyle;
}
.borderTop {
  border-top: $borderStyle;
}
.width80{
  width: 80%;
  margin: 0px;
  margin: auto;
}
.containerOther{
  font-size: 20px;
  //background-color: #d9d9d9;
  width: 100%;
}
.text-align-left{
  text-align: left;
}
label{
  font-weight: normal;
}
.pos-relative {
  position: relative;
}
.hide-input  {
  	width: 100%;
  	height:100%;
  	top:0;
  	left:0;
  	background: grey;
  	position: absolute;
  	opacity: 0.3;
  }
.marginAuto{
  margin: auto;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
#backPayIncludeCheckbox input {
    cursor: pointer;
}
.textSize{
  font-size: 19px;
}


@media (max-width: 576px) {
  .containerOther{
    width: 100%;
  }
  .marginTopOther {
    margin-top: 40px;
  }
  .table-bordered {
    margin-left: -10px;
  }
}
