.marginTopOther {
  margin-top: 50px;
}
.border-bottom-other {
  border-bottom: $borderStyle;
}
.width80{
  width: 80%;
  margin: 0px;
  margin: auto;
}
.containerOther{
  font-size: 20px;
}
#paymentSettingsEmailDivResponse {
  height: 35px;
}
.padding-left-other {
  margin-left: 50px;
}
@media (max-width: 576px) {
  .containerOther{
    width: 100%;
  }
  .marginTopOther {
    margin-top: 40px;
  }

    }
