#totalGrossPaymentsName, #totalGrossPaymentsAmount,.totaDeductionsRow {
  background: #d7d7c1;
  font-size: 20px;
  text-align: left;
  height: 100%;
  line-height: 35px;
  border-top: $borderStyle;
}
#totalGrossPaymentsAmount {
  font-weight: bold;
  text-align: right;
  padding-right: 2px;
}
.totaDeductionsRow{
  border: $borderStyle;
}
.netPay{
  background: #ceff99;
  border-left: $borderStyle;
  padding-left: 5px;
}
#netPayAmount {
  text-align: right;
  padding-right: 5px;
  font-weight: bold;
  background: #ceff99;
}
.border-left {
  border-left: $borderStyle;
  text-align: right;
  padding-right: 5px;
}
.topBorder {
  border-top: $borderStyle;
}
.align-right{
  text-align: right;
  padding-right: 2px;
}
.green {
  font-weight: bold;
  color: green;
}
.red {
  font-weight: bold;
  color: #ff9999;
}
.borderBottom {
  border-bottom: $borderStyle;
}
