.tableCaption {
  background-color: $titleColor;
  color: $textColor;
  text-align: center;
}
.tableRow, .calendarRow {
  height: 35px;
  border: $borderStyle;
  border-top: 0px;
}
.calendarRow {
  border-left: 0px;
}
.tableRowWithtopBorder {
  height: 35px;
  border: $borderStyle;
}
.tableData {
	float: left;
	font-size:18px;
  height: 100%;
  padding: 0px;
}
.typeOfDaySelect, .typeOfDaySelectGuide {
  width: 100%;
  height: 34px;
  outline:none;
  border: 0px;
  border-right: $borderStyle;
  text-indent: 1px;
}
.dateDiv{
	height:100%;
	text-align: right;
	font-size: 18px;
  padding-right: 3%;
  padding-top: 1%;
}
.dateInput {
	text-align: right;
}
.dateInputHidden {
	visibility: hidden;
	position: absolute;
}
.tableDataRelative {position: relative;}
.hourMinuteSelect, .hourMinuteSelectGuide {
	border: 0px;
	outline: none;
	width: 25%;
  height: 100%;
	font-size: 20px;
  padding-left: 3%;
  border-left: $borderStyle;
}
.nextMorningSelect {
	background: #6b6b47;
	color: white;
	border: 0px;
	outline: none;
	margin:0px;
}
.absoluteDiv {
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
}
.noteDiv {
	border-left: $borderStyle;
  height: 34px;
}
.noteInput {
  width: 100%;
  height: 34px;
	outline:none;
	border: 0px;
  text-indent: 5px;
}
.border-left-message {
  border-left: $borderStyle;
}
.currentDateInput {
	color: #006600;
	font-weight: bold;
}
.currentStartTime {
	box-shadow: 0px 0px 0px 2px green inset;
	font-weight: bold;
}

.pic-sm, .pic-xs, .pic-chart  {
  height: 245px;
  width: 100%;
  border: $borderStyle;
  border-top: 0px;
}
.pic-chart {
  height: 250px;
}
@media (max-width: 767px) {
	.tableContainer {
		width: 100%;
	}
}
@media (max-width: 400px) {
	.noteDiv {
		visibility: visible;
	}
}
