.taxPeriodNumberContainer {
	position: relative;
	z-index: 3;
	width: 100%;
}
#taxPeriodNumberMenu {
	margin-top: 50px;
	background-color: $themeColor;
	font-size: 25px;
	color: white;
	height: 35px;
	text-align: center;
	padding: 0px;
	position: fixed;
	width: 100%;
}
.tableCaption {
  background-color: $themeColor;
  color: white;
  border-top: 1px solid $bgHighlight;
}

@media (max-width: 767px) {
	#taxPeriodNumberMenu{
		font-size: 22px;
	}
}
