.footerBackground{
	background: #c2c2a3;
	padding-top: 5px;
	padding-bottom: 10px;
}
.footerFont{
		font-size: 30px;
}
.footerName {
	padding-top: 10px;
}
a{
	text-decoration: none;
}
.policiesHover{
	text-decoration: none;
}
.policiesHover:link{color:black;}
.policiesHover:visited{color:black;}
.policiesHover:hover{color:grey;}
.policiesHover:active{color:grey;}
