@import 'undoBootstrap';

$buttonColor: #6666ff;
$themeColor   : #e6e6e6;
$textColor: #4d4d33;
$bgHighlight : #d9d9d9;
$colDefault  : #ecf0f1;
$colHighlight: white;
$hoverBackground : #adad85;
$tableWidth: 95%;
$borderStyle: 1px solid #d9d9d9;
$marginBetweenElements: 10px;
$currentWeekColor: #ff3333;
$insideBoxColor: #ffffe6;
$modalInfoColor: #e6f2ff;
$modalErrorColor: #ffe6e6;


hr {
  height: 1px;
  color: #d9d9d9;
  margin-bottom: 2px;
  margin-top: 2px;
  background: #d9d9d9;
  font-size: 0;
  border: 0;
}
.invalidForm		{background: #ff8080; color: white;}

.notSelectedColor	  {background: #ffffff; color: black;}
.dayInColor		     	{background: #ffff80; color: black;}
.dayOffColor	     	{background: #c3c3a2; color: black;}
.holidayColor	    	{background: #d5ff80; color: black;}
.unpaidHolColor	  	{background: #e6ffe6; color: black;}
.halfInHalfOffColor	{background: #e6ffb3; color: black;}
.dayInSickColor	  	{background: #ffcccc; color: black;}
.sicknessColor	   	{background: #ff9999; color: black;}
.absenceColor		    {background: #ccebff; color: black;}
.familyLeaveColor	  {background: #ffcc99; color: black;}
.bereavementColor	  {background: #4d4d4d; color: white;}
.compassionateColor	{background: #ffe6cc; color: black;}

.startTimeColor	{background: #e1e1d0; color: #000000;}
.endTimeColor		{background: #c3c3a2; color: #000000;}
.nextMorning		{background: #6b6b47; color: white;}
.invalidForm		{background: #ff8080; color: white;}

.notSelectedDiv		{visibility: visible;}
.holidayDiv			  {visibility: hidden;}
.sicknessDiv		  {visibility: hidden;}
.dayOffDiv		  	{visibility: hidden;}
.absenceDiv			  {visibility: hidden;}
.familyLeaveDiv		{visibility: hidden;display: inline-block;}
.bereavementDiv		{visibility: hidden;}
.dayInSickDiv		  {visibility: hidden;}
.unpaidHolDiv		  {visibility: hidden;}
.compassionateDiv	{visibility: hidden;}

.smallerContainer{
    width: $tableWidth;
    margin: 0px;
    margin: auto;
    font-size: 20px;
    padding: 0px;
    margin-top: $marginBetweenElements;
    border-bottom: 0px;
}
.signout{
  text-align: center;
  width: 100%;
  font-size: 35px;
  color: green;
  padding: 20px;
}
@media (max-width: 767px) {
	.smallerContainer {
		width: 100%;
	}
}
.marginTopMain {
  margin-top: 90px;
  background-color: $themeColor;
}
.marginBetweenElements {
  margin-top: $marginBetweenElements;
}
.marginBetweenElementsBottom{
  margin-bottom: $marginBetweenElements;
}
.squareBorder {
  border: $borderStyle
}
//.insideBoxBackgroundColor {background: $insideBoxColor}
.insideBox {
  border-left: $borderStyle;
  border-right: $borderStyle;
  background: $insideBoxColor;
}

footer {
  postion: absolute;
  bottom: 0;
}

@import 'navbar';
@import 'taxPeriodNumberMenu';
@import 'table';
@import 'buttonRow';
@import 'calendarDayGrid';
@import 'calendar';
@import 'payments';
@import 'chart';
@import 'modal';
@import 'savingsButtons';
@import 'footer';
@import 'otherPages';
@import 'mainTableGrid'; 
